.custom-input {
    border: none
}
.input-wrapper,.custom-input {
    height: 100%;
    width : 100%;
    line-height: normal;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.social-comment-marker{
    border-right-color: yellow;
    border-style: solid;
    border-width: 0px 5px 0px 0px;
    height: 10px;
    position: absolute;
}
.cell-noneditable{
    padding-left: 150px;
}
