<div *ngIf="contextactive">
    <div class="contextmenu" [ngStyle]="{'left.px': xposition, 'top.px': yposition}">
        <button class="comment-button" (click)="onClickInsert($event)">Insert comment</button>
    </div>
</div>