<social-comment [ngStyle]="{'left.px': xPosition, 'top.px': yPosition-100}" 
(cancelClick)="onCancelClick()" (commentClick)="onCommentClick($event)" [socialactive]="socialActive" class="social-comment"></social-comment>
<context-menu [contextActive]="contextActive" [x]="xPosition" [y]="yPosition" (contextEvent)="onContextEvent($event)"></context-menu>
<button (click)="export($event)">export</button>
<ag-grid-angular
      #agGrid
      style="width: auto; height: 600px;"
      id="myGrid"
      class="ag-theme-balham"

      [rowData]="rowData"
      [gridOptions]="gridOptions"
      [enableRangeSelection]="true"
      [allowContextMenuWithControlKey]="true"
      [context]="context"
      (cellClicked)="onCellClicked()"
      [frameworkComponents]="frameworkComponents"
      [getContextMenuItems]="getContextMenuItems"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
    <button [matMenuTriggerFor]="appMenu"></button>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item>Insert Comment</button>
    </mat-menu>
    
<router-outlet></router-outlet>