<ng-container *ngIf="active">
    <div class="arrow"></div>
    <h3 class="popover-header">Comment</h3>
    <div class="comment-list-div" *ngIf="commentList.length > 0">
        <li *ngFor="let comment of commentList">{{comment}}</li>
    </div>

    <div class="popover-body" >
        <textarea [(ngModel)]="comment" class="comment-area" placeholder="Enter a comment"></textarea><br/>
        <span class="comment-length">{{comment.length}}/139</span>
    </div>
    <div class="popover-footer">
        <button class="social-button default social-button-cancel" (click)="onCancel($event)">Cancel</button>
        <button class="social-button primary social-button-comment" [disabled]="comment.length === 0" (click)="onComment($event)" >Comment</button>
    </div>
</ng-container>