@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
.cell-span {
    background-color: #00e5ff;
}

.ag-theme-balham .ag-row-even {
    background-color: unset;
}

.ag-theme-balham .ag-row-odd {
    background-color: unset;
}